@import '../../../styles/vars';

.navigation-list {
  background: #3f51b5 !important;

  .navigation-action-root {
    color: rgba(255, 255, 255, 0.8)
  }
  .navigation-action-selected {
    color: rgba(255, 255, 255, 1)
  }
}
